@model AuthorizeNetSample.Web.Models.Authorize.EncryptVisaCheckoutDataViewModel
@{ 
    AjaxOptions ajaxOptions = new AjaxOptions {
        HttpMethod = "POST",
        OnSuccess = "$('#decryptedData').html(data);"
    };
}

<h2>Encrypted Visa Checkout Data</h2>
<hr />
<div class="row">
    @using (Ajax.BeginForm("EncryptVisaCheckoutData", "Authorize", ajaxOptions)) {
        <div class="form-group">
            @Html.LabelFor(x => x.DataDescriptor, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.DataDescriptor, new { @class = "form-control", disabled = "disabled" })
            @Html.HiddenFor(x => x.DataDescriptor)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.DataValue, new { @class = "control-label" })
            @Html.TextAreaFor(x => x.DataValue, new { @class = "form-control", disabled = "disabled", rows = 8 })
            @Html.HiddenFor(x => x.DataValue)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.DataKey, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.DataKey, new { @class = "form-control", disabled = "disabled" })
            @Html.HiddenFor(x => x.DataKey)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.CallId, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.CallId, new { @class = "form-control", disabled = "disabled" })
            @Html.HiddenFor(x => x.CallId)
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Decrypt Data And Create Payment" />
        </div>
    }
</div>